.about {
  max-width: 800px;
  margin: 5rem auto;
  padding: 3rem 2rem;
  background: #f9f9ff;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  top: 40%;   
  left: 50%;
  transform: translate(-50%, -50%);
}



.about:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.about h2 {
  font-size: 2.2rem;
  color: #6b4bff;
  margin-bottom: 1rem;
  position: relative;
}

.about h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #a161fb;
  display: block;
  margin: 0.5rem auto;
  border-radius: 2px;
}

.about p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.7;
  max-width: 700px;
  margin: 0 auto;
}
